<a href="https://colab.research.google.com/github/VUGUSTIE/Machine-Learning/blob/main/House_Price_Cont.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-import libraries

In [165]:
import pandas as pd # to import data
import numpy as np # numerical computtation
import matplotlib.pyplot as plt # for visualizing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error # calc the mse between prediction and actual data

2- Load Dataset

In [166]:
from google.colab import drive

In [167]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [168]:
cd drive/MyDrive

[Errno 2] No such file or directory: 'drive/MyDrive'
/content/drive/My Drive/datasets

In [169]:
ls

kc_final.csv

In [170]:
cd datasets

[Errno 2] No such file or directory: 'datasets'
/content/drive/My Drive/datasets

In [171]:
data = pd.read_csv('kc_final.csv')

3. Data Exploration and Cleaning:

In [172]:
data.head(10)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [173]:
print(data.shape) # print total num of rows and cols
print("00000000000000000000000000000000000000000000000000000000000000000000000000000")
print(data.info) # data_types and missing values

(21613, 22)
00000000000000000000000000000000000000000000000000000000000000000000000000000
<bound method DataFrame.info of        Unnamed: 0          id        date     price  bedrooms  bathrooms  \
0               0  7129300520  2014-10-13  221900.0         3       1.00
1               1  6414100192  2014-12-09  538000.0         3       2.25
2               2  5631500400  2015-02-25  180000.0         2       1.00
3               3  2487200875  2014-12-09  604000.0         4       3.00
4               4  1954400510  2015-02-18  510000.0         3       2.00
...           ...         ...         ...       ...       ...        ...
21608       21608   263000018  2014-05-21  360000.0         3       2.50
21609       21609  6600060120  2015-02-23  400000.0         4       2.50
21610       21610  1523300141  2014-06-23  402101.0         2       0.75
21611       21611   291310100  2015-01-16  400000.0         3       2.50
21612       21612  1523300157  2014-10-15  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  ...  grade  sqft_above  \
0             1180      5650     1.0           0  ...      7        1180
1             2570      7242     2.0           0  ...      7        2170
2              770     10000     1.0           0  ...      6         770
3             1960      5000     1.0           0  ...      7        1050
4             1680      8080     1.0           0  ...      8        1680
...            ...       ...     ...         ...  ...    ...         ...
21608         1530      1131     3.0           0  ...      8        1530
21609         2310      5813     2.0           0  ...      8        2310
21610         1020      1350     2.0           0  ...      7        1020
21611         1600      2388     2.0           0  ...      8        1600
21612         1020      1076     2.0           0  ...      7        1020

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 22 columns]>

Handling missing values

In [174]:
# Check for missing values
print(data.isnull().sum()) # total null values

# Impute missing values (example: fill with mean)
data = data.fillna(data.mean)
data.dropna(inplace = True) # Drop rows with missing values

Unnamed: 0       0
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [175]:
#drop some cols
data = data.drop(['sqft_basement', 'sqft_living', 'date'], axis=1)

In [176]:
data.head(20)

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,221900.0,3,1.00,5650,1.0,0,0,3,7,1180,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,538000.0,3,2.25,7242,2.0,0,0,3,7,2170,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,180000.0,2,1.00,10000,1.0,0,0,3,6,770,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,604000.0,4,3.00,5000,1.0,0,0,5,7,1050,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,510000.0,3,2.00,8080,1.0,0,0,3,8,1680,1987,0,98074,47.6168,-122.045,1800,7503
5,5,7237550310,1225000.0,4,4.50,101930,1.0,0,0,3,11,3890,2001,0,98053,47.6561,-122.005,4760,101930
6,6,1321400060,257500.0,3,2.25,6819,2.0,0,0,3,7,1715,1995,0,98003,47.3097,-122.327,2238,6819
7,7,2008000270,291850.0,3,1.50,9711,1.0,0,0,3,7,1060,1963,0,98198,47.4095,-122.315,1650,9711
8,8,2414600126,229500.0,3,1.00,7470,1.0,0,0,3,7,1050,1960,0,98146,47.5123,-122.337,1780,8113
9,9,3793500160,323000.0,3,2.50,6560,2.0,0,0,3,7,1890,2003,0,98038,47.3684,-122.031,2390,7570
10,10,1736800520,662500.0,3,2.50,9796,1.0,0,0,3,8,1860,1965,0,98007,47.6007,-122.145,2210,8925
11,11,9212900260,468000.0,2,1.00,6000,1.0,0,0,4,7,860,1942,0,98115,47.6900,-122.292,1330,6000
12,12,114101516,310000.0,3,1.00,19901,1.5,0,0,4,7,1430,1927,0,98028,47.7558,-122.229,1780,12697
13,13,6054650070,400000.0,3,1.75,9680,1.0,0,0,4,7,1370,1977,0,98074,47.6127,-122.045,1370,10208
14,14,1175000570,530000.0,5,2.00,4850,1.5,0,0,3,7,1810,1900,0,98107,47.6700,-122.394,1360,4850
15,15,9297300055,650000.0,4,3.00,5000,2.0,0,3,3,9,1980,1979,0,98126,47.5714,-122.375,2140,4000
16,16,1875500060,395000.0,3,2.00,14040,2.0,0,0,3,7,1890,1994,0,98019,47.7277,-121.962,1890,14018
17,17,6865200140,485000.0,4,1.00,4300,1.5,0,0,4,7,1600,1916,0,98103,47.6648,-122.343,1610,4300
18,18,16000397,189000.0,2,1.00,9850,1.0,0,0,4,7,1200,1921,0,98002,47.3089,-122.210,1060,5095
19,19,7983200060,230000.0,3,1.00,9774,1.0,0,0,4,7,1250,1969,0,98003,47.3343,-122.306,1280,8850

In [177]:
data['bed_bath_in_floors'] = ( data['bedrooms'] + data ['bathrooms'] * data['floors'] ) * data['sqft_lot']

4. Separate Features and Target Variable:

In [178]:
#axis=0 (Rows) axis=1(Columns)
x = data.drop('price', axis = 1) #drop it to create features
y = data['price'] # as target values

5. Train-Test Split:

In [179]:
#random_state=42: This ensures that the data is split in the same way every time you run the code
#test_size=0.3 means I use 30% from data to be tested
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3 , random_state=42)

6. Build and Train the Model:

In [180]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

7. Model Evaluation:

In [181]:
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test, y_pred)

In [182]:
print("Mean Squared Error is :" ,mse)

Mean Squared Error is : 45480041137.55957

In [183]:
avg_price = data['price'].mean() # Calculate average house price
price = data['price']
baseline_pred = avg_price * len(price) # the average for every house
print(baseline_pred)

11672925008.0

- If  model's MSE is significantly lower than the baseline, it indicates model is learning something useful from the data.

- If complex model's MSE is only slightly better or even worse than the baseline, it suggests model might be too complex or not capturing the underlying patterns in the data effectively. This can guide you to simplify  model or explore different approaches.

In [184]:
#create array of average prices to help in finding baseline mse
baseline_pred = np.full(price.shape, avg_price)
# Calculate baseline MSE
baseline_mse = mean_squared_error(price , baseline_pred)
print("Baseline MSE :" , baseline_mse)

Baseline MSE : 134776142225.57256